server:
  port: 8443
  ssl:
    enabled: true
    key-store: classpath:gateway-keystore.p12
    key-store-password: changeit
    key-store-type: PKCS12
    key-alias: gateway


spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - AddRequestHeader=X-Gateway-Auth, trusted
      routes:
        - id: transaction-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/**

  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: J%&iTqkqO4*wp253qVj^X!Y&G!b68ZWbfOqwBe%K

logging:
  level:
    org.springframework.cloud.gateway: INFO
